

<nav class="navbar">

    <div class="logo">ICIN Bank</div>
   
    <ul class="nav-links">
   
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>
    
      <div class="menu">
       
        <li ><a href="welcome">Home</a></li>
        <li class="services">
          <a href="/">Accounts</a>
           <ul class="dropdown">
            <li><a href="/primaryAccount">PrimaryAccount </a></li>
            <li><a href="/savingsAccount">SavingsAccount</a></li>
          </ul>
        </li>
        <li><a href="/chequebookrequest">Cheque Book</a></li>
        <li class="services">
          <a href="/">Transactions</a>
           <ul class="dropdown">
            <li><a href="/deposit">Deposit </a></li>
            <li><a href="/withdraw">Withdraw</a></li>
            <li><a href="/transactionHistory">Transactions</a></li>
          </ul>
        </li>
        <li class="services">
          <a href="/">Hi, Guest</a>
           <ul class="dropdown">
            <li><a href="/login">Sign In</a></li>
            <li><a href="/registration">Sign Up</a></li> 
            <li><a href="/editProfile">Edit Profile</a></li> 
            <li><a href="/login" (click)="onSubmit()">Log out</a></li>

          </ul>
        </li> 
       
    </div>
    </ul>
  </nav> 
  