<section class="m-5">
  <div class="mask d-flex align-items-center">
    <div class="container-xl">
      <div class="row d-flex justify-content-center align-items-center h-80">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              
              <form [formGroup]="depositMoneyForm" >
                <!-- <h6 class="text-danger">{{msg}}</h6> -->
                <div class="form-group mb-4">
                  <label for="accountType">Please select your account type</label>
                  <select class="form-control form-control-lg" id="accountType" name="accountType" formControlName="accountType" (change)="onChange($event)" >
                    <option>Primary Account</option>
                    <option>Savings Account</option>
                  </select>
                </div>
                <div class="form-group mb-4">
                  <label for="accountBalance">Balance Amount</label>
                    <input type="text" class="form-control" readonly id="accountBalance" formControlName="balance" value="{{balanceFund}}" >
                </div>
           
                <div class="form-group mb-4">
                  <label for="amountToBeDeposited">Amount to be deposited</label>
                  <input type="number" class="form-control"  id="amountToBeDeposited"  formControlName="amountToBeDeposited" min=1 
                  [ngClass]="{'is-invalid':submitted && fval['amountToBeDeposited'].errors}" >
                </div>
                <div *ngIf="fval['amountToBeDeposited'].errors"  class="invalid-feedback">
                  <div *ngIf="fval['amountToBeDeposited'].errors['required']">
                      <p class="alert alert-warning mt-2">Amount is required</p>
                  </div>
              </div>
                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-teal btn-lg " (click)="handleTransferFund()" >Deposit Money</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

